*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
  }
  .box{
    height:100vh;
    width:100vw;
  
  }
  .container {
    margin-top:40px;
    margin-bottom: 40px;
    display: flex;
    height:auto;
    width:60%;
    position:relative;
    padding-bottom: 90px;
    border: 2px solid black;

  }

  .form-container {
    flex: 0.7;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.8); 
    color: white;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    margin-left: 50px;
  }

  .image-container {
    flex: 1.3;
    border:2px solid black;
    height:550px;
    width:500px;
    border-radius: 40px;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    margin-top:127px;
    margin-right: 89px;
    /* margin-bottom: 80px; */
  }
  
   .name{
    /* background-color: purple; */
    
    display: flex;
    flex-direction: row;
    gap:10px;
  } 
  /* #fname{
    display: flex;
    justify-content: flex-start;
    align-items:start;
  }
  #lname{
    display: flex;
    justify-content: flex-end;
    align-items:end;
  } */
  input{
    border-radius: 10px;
  }
  
  h2 {
    text-align: center;
  }
  
  p {
    text-align: justify;
  }
  
  form {
    margin-top: 20px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
  }
  #textarea{
     border-radius: 10px;
     height:70px;
  }
  
  button {
    background-color: #333;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: azure;
    width:380px;

  }
  .check{
  
  }